<!DOCTYPE html>
<html lang="en">

<head>
  <title>My Webpage</title>

  <!-- include jQuery, so we have access to the $.post function -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <!-- include our own functions -->
  <script src='static/js/model.js'></script>

</head>

<body>
    <br>
    petal length (cm)
    <br>
    <input type="text" id="petal_length">

    <br>
    petal width (cm)
    <br>
    <input type="text" id="petal_width">

    <br>
    sepal length (cm)
    <br>
    <input type="text" id="sepal_length">

    <br>
    sepal width (cm)
    <br>
    <input type="text" id="sepal_width">

    <br>
    <input type="submit" value="Submit" method="get" onclick="process()">

  <!-- stores the most likely result -->
  <div id='results'>
  </div>

  <!-- shows the list of all results -->
  <div id='list_results'>
  </div>

</body>

</html>
